
/*       -------------------------#borders -----------------------------------------------*/
.bord{
    border: 2px outset gainsboro;
}
.bord-bot{
    border: 2px outset gainsboro;
}
.bord-righ{
    border-right: 1px solid #737373;
}
.pad-bot-20{
    padding-bottom: 20px;
}

/* ----------------------------------------------#New style------------------------------------------------------ */
.container .active{
    background: #a7ff64;
    color:black;
    border-radius: 7px;
    font-style: italic;
}

.container {
    background: #99CCBB;
}
.container a{
    text-decoration:none;
}
.container a:hover{
    color: #ffffff;
}
.top-level a{
    //background: #0f0f0f;
    padding:7px;
    color: rgba(37, 32, 68, 0.99);
    //font-size: 100px;
}
.scan{
    background: #a20d7d;
    color:#afd9ee;
}
.scan a{
    color:#afd9ee;
}
.wid80{
    width:70%;
    display: inline-block;
}



