body{
     /*background: #d2b481;*/
    /*background: #204d74;*/
    background: url("../images/textures/gr1.jpg")no-repeat;
    /*background-size: 3000px 3000px;*/
    font-size: 20px;
}
a{
    list-style: none;
}
.room{
    max-height: 600px;
    /*border: 1px dashed brown;*/
}
.bottom_container{
    text-align: center;
}