{% extends '@Main/base.html.twig' %}
{% block main_content %}
    <div class="col-md-9 text-left">
        {{ form_start(form) }}
        <input type="submit" value="Добавить">
        {{ form_end(form) }}

    </div>

{% endblock main_content %}