{% extends '@Main/base.html.twig' %}
{% block main_content %}
    <div class="col-md-9 text-left">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Тип</th>
                <th class="active">Персональный ID</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for i in device %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.personalId }}</td>
                <td>{{ i.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main_content %}